.section {
    background-image: url('./../../assets/images/testimonials-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 0;
}

.container {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.header h2 {
    color: #000000;
    margin-bottom: 24px;
}

.header p {
    color: #000000;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 44px;
    align-items: center;
    padding: 70px 0;
}

.learn {
    max-width: 1560px;
    margin: 0 auto;
    opacity: 0.15;
    padding: 100px 20px 0 20px;
}

@media (max-width: 1199.98px) {
    .content {
        grid-gap: 20px;
    }
    .learn svg {
        max-width: 60vw;
        height: auto;
    }
}

@media (max-width: 991.98px) {
    .section {
        padding-bottom: 60px;
    }
    .content {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 0;
    }
    .learn {
        padding-top: 60px;
    }
}

@media (max-width: 767.98px) {
    .section {
        padding-bottom: 30px;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 0 15px;
    }
    .content {
        grid-template-columns: 1fr;
    }
}
