.section {
    padding: 82px 0;
}

.container {
    padding: 0 20px;
}

.header {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    margin-bottom: 190px;
}

.title {
    text-align: center;
    color: #000000;
}

.content {
    display: flex;
    align-items: center;
    max-width: 1353px;
    margin: 0 auto;
    padding: 66px 20px;
}

.content__wrapper-content {
    display: flex;
    align-items: center;
    width: 50%;
    padding-right: 90px;
}

.content__wrapper-image {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 582px;
    overflow: hidden;
}

.content__gify {
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 100%;
    background-color: #ffffff;
}

.content__gify img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 546px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list__item {
    color: rgba(38, 50, 56, 0.32);
    border-bottom: 1px solid rgba(38, 50, 56, 0.32);
    transition: all 0.1s ease;
}
.list__item.active {
    color: #263238;
    border-color: #263238;
}

.list__item-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 28px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}
.list__item-header:hover {
    color: #263238;
}

.list__item-count {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    margin-right: 29px;
}

.list__item-btn {
    position: absolute;
    right: 0;
    bottom: 9px;
    opacity: 0;
    transition: all 0.2s ease;
}

.list__item-btn.show {
    opacity: 1;
}

.list__item-content {
    height: 0;
    padding-left: 47px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.list__item-content.active {
    height: auto;
}

.list__item-content p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
}

.list__item-content p:last-child {
    margin-bottom: 6px;
    font-style: italic;
}

@media (max-width: 1199.98px) {
    .header {
        margin-bottom: 160px;
    }
    .content {
        padding: 60px 20px;
    }
    .content__wrapper-content {
        width: 50%;
        padding-right: 40px;
    }
    .list__item-header {
        padding: 14px 0;
    }
    .list__item-count {
        margin-right: 20px;
    }
    .list__item-content {
        padding-left: 40px;
    }
    .list__item-content p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .content__wrapper-image {
        width: 50%;
        max-height: 420px;
    }
}

@media (max-width: 991.98px) {
    .section {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .header {
        margin-bottom: 120px;
    }
    .content {
        flex-direction: column;
        padding: 40px 20px;
    }
    .content__wrapper-content {
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .content__wrapper-image {
        max-height: 540px;
        width: 100%;
    }
    .content__gify {
        align-items: flex-start;
        border-radius: 10px;
    }
    .content__gify img {
        border-radius: 10px;
        height: auto;
        object-fit: unset;
    }
    .list__item-count {
        margin-right: 16px;
    }
    .list__item-content {
        padding-left: 36px;
    }
    .list__item-content p:last-child {
        margin-bottom: 10px;
    }
    .list__item-btn {
        bottom: 15px;
        transform: rotate(90deg);
    }
}

@media (max-width: 767.98px) {
    .section {
        padding-top: 40px;
    }
    .header {
        margin-bottom: 80px;
    }
    .list__item-header {
        padding: 12px 0;
    }
    .content__wrapper-image {
        max-height: 410px;
    }
    .list__item-btn svg {
        width: 13px;
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 0 15px;
    }
    .content {
        padding: 0 15px;
    }
    .content__wrapper-image {
        max-height: 310px;
    }
}

@media (max-width: 449.98px) {
    .content__wrapper-image {
        max-height: 240px;
    }
}